nav{
    background-color: #D7C302;
    color: #000000;
    opacity: 74%;
}

.navbar {
    z-index: 1; 
    background-color: #D7C302;
}

.carousel {
    z-index: 0; 
}

b{
    color: #000000;
    opacity: 100%;
}

.bar-yellow{
    height: 65px;
}

.dropdown-menu{
    background-color: #D7C302;
}

.decorative-bar-green {
    background-color: #258802;
    height: 54px; 
}

.decorative-bar-blue {
    background-color: #0028B1;
    height: 54px; 
}

.bar-blue {
    background-color: #0028B1;
    height: 54px;
    background-image: url(../Images-of-prueb/facebook/Images-of-prueb/_instagram_combined.png); 
    background-position: left center, right center;
    background-repeat: no-repeat;
    background-size: auto 100%; 
}

#carouselExampleSlidesOnly{
    height: -200px;
}

.img-footer{
    height: 200px;
    width: 1364px;
}

.bar-white{
    width: 3px;
    height: 102px;
}

.carousel-item{
    height: 457px;
}

button{
    height: 34px;
}

.Look{
    background-color: #9CCC12;
}

.Dowload{
    background-color: #175BC1;
}


.footer-bg {
    background-image: url(../Images/21.JPG);
    background-size: cover;
    background-position: center;
    height: 200px;
}

.footer-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1349px ;
    height: 200px;
    background-color: rgba(0, 0, 255, 0.5);
    transform: translate(0px, 3892px);
    z-index: 1;
}

  .bar-white-1{
    background-color: #ffffff;
    width: 3px;
    height: 103px;
    transform: translate(115px, -24px);
}

.bar-white-2{
    background-color: #ffffff;
    width: 3px;
    height: 103px;
    transform: translate(560px, -24px);
}

.bar-footer{
    background-color: #0028B1;
    height: 58px;
}

.carousel {
    margin: 0 auto;
  }

  .carousel-item img {
  margin: 0 auto;
}

.images{
    transform: translate(0px, -35px);
}